@import '../variables.css';

.ArticleListPage {
	.container {
		margin: 0 auto;
		padding: 0 0 40px;
		max-width: var(--max-content-width);

		button {
			background-color: #69f;
			border: 0;
			color: #fff;
			margin: 20px;
			padding: 20px;
			font-weight: bold;


			&:hover {
				color: #fff;
				background-color: #7af;
			}

			&:active {
				color: #ddd;
				background-color: #36d;
			}
		}
	}
}
